@import "tailwindcss";

body {
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: #eff0dd;
  font-family: "Poppins", sans-serif;
}

.font-title {
  font-family: "Oswald", sans-serif;
}